embedded.txt
.DS_Store
/.release
/packages
/public/packages
/.cursor
/public/addons/dailypoup/data.json
public/reactapp/node_modules
# Private individual user cursor rules
/cursor-custom-agents-rules-generator
node_modules
