embedded.txt
.DS_Store
/.release
/packages
/public/packages
/.cursor
/public/addons/dailypoup/data.json
# Private individual user cursor rules
.cursor/rules/_*.mdc
/cursor-custom-agents-rules-generator
node_modules
